<h1>Executive Details</h1>

<p>Executive ID: <%= @executive_id %></p>

<p>Name: <%= @name %></p>

<p>Phone Number: <%= @phone_number %></p>


<p>This page will eventually display executive-specific details. Make tabs to get restaurants that redirects to resturant page</p>

<button onclick="window.location.href='/executives/<%= @executive_id %>/order'">View Order Assigned</button>
