<h1>All Customers</h1>

<table>
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @customers_list.each do |customer| %>
      <tr>
        <td><%= customer['customer_id'] %></td>
        <td><%= customer['name'] %></td>
        <td><%= customer['phone_number'] %></td>
        <td><%= customer['address'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>